<nav>
  <div class="nav-wrapper red">
    <a href="#!" class="brand-logo black-text center">TMZ Scrapper- Celebrity new, gossip and more!</a>
    <!-- <ul class="right hide-on-med-and-down"> -->
    <ul class="right">
      <li>
        <a class="waves-effect waves-light btn-large black" href="/scrape">Scrape the TMZ Gossip</a>
      </li>
    </ul>
  </div>
</nav>


<br><br>

<div class="container ">
      <div class="row col-md-12">

          <div class="col-md-6" id="articlesDiv">
              <h3 class="text-center rowText">TMZ  Articles</h3>
              <div id="articles"></div>
          </div>

          <div class="col-md-6 text-center" id="notesDiv">
              <h3 class="text-center rowText">Notes</h3>
              <h4 class="text-center smallText">Click a title to dish the dirt!</h4>
              <div id="notes"></div>
          </div>

      </div>
    </div>





